<!--begin call-->
<section class="page_global call">
    <div class="container">
        <div class="row call__wrapper">
            <div class="col-lg-6 call__icon">
                <img src="img/icon_call_settings.svg" alt="Icon" />
            </div>
            <div class="col-lg-6 call__info call_info">
                <div class="call_info__text">
                    <h1 class="title title_global">Call settings</h1>
                    <p class="text_global">Set up your calling wizzard, and get started.</p>
                    <form>
                        <h3 class="title">Verify your number</h3>
                        <p>to start receiving calls from your leads</p>
                        <div class="call_info__number" id="call_number" style="display: block;">
                            <input type="tel" id="phone">
                            <input type="submit" value="Verify">
                            <p><a class="resend_code" data-related="call_code" href="#/">Resend Code</a> <span>|</span> <a class="verify_call" data-related="call_recall" href="#/">Verify via call instead</a></p>
                        </div>
                        <div class="call_info__number" id="call_code">
                            <input type="number">
                            <input type="submit" value="ENTER CODE">
                            <p><span>Enter your phone number and we’ll Call you.</span></p>
                        </div>
                        <div class="call_info__number" id="call_recall">
                            <input type="tel" id="recall">
                            <input type="submit" value="Call">
                            <p><span>Enter your phone number and we’ll Call you .</span></p>
                        </div>
                    </form>
                    <div class="pagination_global">
                        <a href="#/">Continue >></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end call-->