<!--begin start-->
<section class="page_global capturing">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="capturing__widget">
                    <img src="img/img_widget.png" alt="Image" />
                </div>
            </div>
            <div class="col-lg-6 capturing__wrapper">
                <div class="capturing__info">
                    <h1 class="title title_global">Start capturing leads</h1>
                    <p class="text_global">Customise assistant to match your brand and website.</p>
                    <form>
                        <label>
                            <h3 class="title">Colors</h3>
                            <div class="colors__wrapper">
                                <div class="sb-checkbox">
                                    <input type="checkbox" class="sb-checkbox__input" id="check1" name="check1">
                                    <label class="sb-checkbox__label sb-checkbox__label--rose" for="check1"></label>
                                </div>
                                <br>
                                <div class="sb-checkbox">
                                    <input type="checkbox" class="sb-checkbox__input" id="check2" name="check2">
                                    <label class="sb-checkbox__label sb-checkbox__label--yellow" for="check2"></label>
                                </div>
                                <br>
                                <div class="sb-checkbox">
                                    <input type="checkbox" class="sb-checkbox__input" id="check3" name="check3">
                                    <label class="sb-checkbox__label sb-checkbox__label--orange" for="check3"></label>
                                </div>
                                <br>
                                <div class="sb-checkbox">
                                    <input type="checkbox" class="sb-checkbox__input" id="check4" name="check4">
                                    <label class="sb-checkbox__label sb-checkbox__label--green" for="check4"></label>
                                </div>
                                <div class="sb-checkbox">
                                    <input type="checkbox" class="sb-checkbox__input" id="check5" name="check5">
                                    <label class="sb-checkbox__label sb-checkbox__label--blue" for="check5"></label>
                                </div>
                                <div class="sb-checkbox">
                                    <input type="checkbox" class="sb-checkbox__input" id="check6" name="check6">
                                    <label class="sb-checkbox__label sb-checkbox__label--purple" for="check6"></label>
                                </div>
                                <span>or</span>
                                <input type="text" placeholder="Enter HEX">
                            </div>
                        </label>
                        <label>
                            <h3 class="title">Company Name</h3>
                            <input type="text">
                        </label>
                        <label>
                            <h3 class="title">Welcome message</h3>
                            <textarea placeholder="e. g. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
erat volutpat. "></textarea>
                        </label>
                        <label>
                            <h3 class="title">Default Language</h3>
                            <select name="langiage">
                                <option value="">English</option>
                                <option value="">French</option>
                            </select>
                        </label>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6 step_global">
                <p>Step 2 of 4</p>
            </div>
            <div class="col-md-12 col-lg-6 pagination_global">
                <a href="welcome.html"><< Back</a>
                <a href="call_settings.html">Next >></a>
            </div>
        </div>
    </div>
</section>
<!--end start-->