<!--begin start-->
<section class="page_global start">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="start__form">
                    <h1 class="title title_global">Start your free, unlimited 14 day trial.</h1>
                    <p class="text_global">Start turning visitors into customers today.</p>
                    <form>
                        <label for="name">
                            <p> First and Last name *</p>
                            <input id="name" type="text">
                        </label>
                        <label for="email">
                            <p>Work Email *</p>
                            <input id="email" type="email">
                        </label>
                        <p>By clicking <a href="#/">'Start your free account'</a> you agree to our <a href="#/">Terms of Use and Spam Policy</a></p>
                        <input type="submit" value="START YOUR FREE ACCOUNT">
                        <p class="start_form__text">Already have an account , <a href="#/">Sign in</a> hear</p>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 start__wrapper">
                <div class="start__info start_info">
                    <h2 class="title title_global">Join 100+ happy Businesses...</h2>
                    <p>I was able to have Limecall up and running on our website within
                        5 minutes. Our team got the frst call within 2 hours and have
                        closed the deal in 3 says.  Limecall helped us convert 40% more
                        sales per month by turning those passive leads to active ones.
                        Our sales have gone through the roof, as we’ve drastically
                        reduced the leads that fall through cracks.”</p>
                    <div class="start_info__about start_about">
                        <img src="img/avatar_anastasiya.png" alt="Avatar" />
                        <div class="start_about__text">
                            <h3 class="title">Anastasia Negru</h3>
                            <p><span>Sales Director</span> <img src="img/logo_outreach.svg" alt="logo" /></p>
                        </div>
                    </div>
                    <div class="start_info__logos start_logos">
                        <h3 class="title">Trusted by</h3>
                        <ul>
                            <li><img src="img/logo_outreach.svg" alt="Logo" /></li>
                            <li><img src="img/logo_dnfinder.svg" alt="Logo" /></li>
                            <li><img src="img/logo_support.svg" alt="Logo" /></li>
                            <li><img src="img/logo_madrid.png" alt="Logo" /></li>
                            <li><img src="img/logo_freshrocket.png" alt="Logo" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end start-->