<!--begin togo-->
<section class="togo">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 togo__text">
                <img src="img/icon_togo.svg" alt="Icon" />
                <h1 class="title title_global">You are good to go</h1>
                <p>It’s time to grow with Limecall</p>
                <form>
                    <label for="demo">
                        <input id="demo" type="checkbox">
                        <p>I would like a one to one personalized demo</p>
                    </label>
                    <input type="submit" value="See who is on your website">
                    <p>Alternatively, <a href="#/">invite teammates</a>, <a href="#/">set up a prompt</a>, or <a
                            href="#/">choose a plan</a>.</p>
                </form>
            </div>
        </div>
    </div>
</section>
<!--end togo-->